/* Version: ${pkg.version} */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shadcn/ui theme */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 223 16% 83%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 240 7% 8%;
    --foreground: 240 9% 98%;

    --card: 240 6% 10%;
    --card-foreground: 240 9% 98%;

    --popover: 240 6% 10%;
    --popover-foreground: 240 9% 98%;

    --primary: 240 21% 15%;
    --primary-foreground: 240 9% 98%;

    --secondary: 240 8% 19%;
    --secondary-foreground: 240 9% 98%;

    --muted: 240 7% 29%;
    --muted-foreground: 240 8% 49%;

    --accent: 240 71% 19%;
    --accent-foreground: 240 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 8% 12%;
    --input: 240 9% 18%;
    --ring: 240 21% 40%;
  }

  div.preview * {
    @apply !transition-none;
  }

  * {
    @apply border-border;
    /* @apply outline outline-1 outline-red-500; */
  }

  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-primary/5;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary/25 hover:bg-primary/50;
  }

  /* Typography */
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-of-type)]:mt-6;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  .lead {
    @apply text-xl text-muted-foreground;
  }
  .large {
    @apply text-lg font-semibold;
  }
  .muted {
    @apply text-sm text-muted-foreground;
  }
  small {
    @apply text-sm font-medium leading-none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
}
